
.flex-container {
  display: flex;
  flex-direction: column;
  width: 322px; <!-- img with pluss padding border -->
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border: 1px solid #DDDDDD;
  box-shadow: 5px 10px #EEEEEE;
}

h3 {

  padding-top: 10px;
  padding-bottom: 10px;
}

img {
  padding-bottom: 10px;
}

.italic {
  font-style: italic;
}

span {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

div {
  box-sizing: content-box;
  border: 1px solid #DDDDDD;
  padding-left: 10px;
  padding-right: 10px;
}
